

.tickets-wrapper{
    padding: 32px;
}
.ticket__heading-div{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ticket__title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}

.tickets__group{
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1px;

    color: #4B506D;

}

.tickets__group-span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.1px;
    color: #9FA2B4;
}

.ticket__text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;

}

.ticket__number{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #9FA2B4;
}

.ticket__item{

    padding: 10px 32px;

}

.ticket__item + .ticket__item{
    border-top: solid 1px #DFE0EB;
}