.navbar__link{
    text-decoration: none;
}

.navbar__text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
}

.navbar__item {
    padding: 18px 0px;
}